# Websocket - web sockets
# github "tidwall/SwiftWebSocket"

# Alamofire - net
github "Alamofire/Alamofire" "swift-2.0"

#State machine, promise, cancel, retry, etc
github "ReactKit/SwiftTask" "swift/2.0"
