# Websocket - web sockets
github "tidwall/SwiftWebSocket"

# Alamofire - net
github "Alamofire/Alamofire" "swift-2.0"

# SwifyJSON - json parsing
github "SwiftyJSON/SwiftyJSON" "xcode7"

# The Swift testing framework.
github "Quick/Quick" "swift-2.0"
github "Quick/Nimble" "swift-2.0"

# Haneke - cache layer
# github "Haneke/HanekeSwift"
